*{
	margin: 0;
	padding: 0;
	color: #3d4c8d;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.h-top{
    height: 60px;
    background-color: #f5f5f5;
    line-height: 60px;
}
.wreapp{
    width: 1200px;
    margin: 0 auto;
}
.h-top p{
    color: #333;    
}
.nav{
    height: 108px;
    line-height: 108px;
}
.nav .logo{
    float: left;
}
.nav .logo img{
    padding-top: 32px;
    width: 100%;
}
.nav ul{
    float: right;
}
.nav ul li{
    float: left;
    padding: 0 30px;
}
.nav ul li:hover{
    background:url(../img/nav_b.png) no-repeat;
    background-position: 50% 70px;
}
#container {
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.sections,.section {
height:100%;
}
#container,.sections {
position: relative;
}
.section {
background-color: #000;
background-size: cover;
background-position: 50% 50%;
text-align: center;
color: white;
}
#section0 {
background-image: url('../img/jiaocha.png');
}
#section1 {
background-image: url('../img/jiaocha.png');
}
#section2 {
background-image: url('../img/jiaocha.png');
}
#section3 {
background-image: url('../img/jiaocha.png');
}